html[data-theme='dark'] {
  --primary-bg-color: #1e1e2d;
  --sidebar-bg-color: #232333;
  --text-color: #e0e0e0;
  --text-color-dark: #ffffff;
  --hover-bg-color: #F3F4F8;
  --hover-color: #23272E;
  --accent-color: #bb86fc;
  --table-border-color: #3e3e4e;
  --status-pending-color: #ffb800;
  --profit-positive-color: #28c76f;
  --profit-negative-color: #ea5455;
  --notification-badge-color: #ea5455;
  --icon-color: #f3f3f3;
  --font-family: "Public Sans", sans-serif;
  --sidebar-width: 260px
}