html[data-theme='dark'] {
  --primary-bg-color: #2c2a2a;
  --text-color: #e0e0e0;
  --text-color-dark: #ffffff;
  --border-color: #e0e0e0;
  --icon-color: #f3f3f3;
  --pink-color: #ff1d7b;
  --font-family: "Public Sans", sans-serif;
  --searchbar-height: 68px;
  --searchbar-width: 820px;
  --searchbar-bg-color: #5a5a5a;
  --close-bg-color: #2c2a2a;
  --giphy-width: 860px
}