// src/scss/themes/_light.scss
:root {
  --primary-bg-color: #f5f5f5;
  --sidebar-bg-color: #ffffff;
  --text-color: #8B909A;
  --text-color-dark: #23272E;
  --hover-bg-color: #F3F4F8;
  --hover-color: #23272E;
  --accent-color: #6200ea;
  --table-border-color: #e2e5ea;
  --status-pending-color: #ffb800;
  --profit-positive-color: #28c76f;
  --profit-negative-color: #ea5455;
  --notification-badge-color: #ea5455;
  --icon-color: #999da8;
  --font-family: "Public Sans", sans-serif;
  --sidebar-width: 260px
}