// src/scss/themes/_light.scss
:root {
  --primary-bg-color: #e7e4e4;
  --text-color: #8B909A;
  --text-color-dark: #23272E;
  --border-color: #8B909A;
  --icon-color: #999da8;
  --pink-color: #ff1d7b;
  --font-family: "Public Sans", sans-serif;
  --searchbar-height: 68px;
  --searchbar-width: 1120px;
  --searchbar-bg-color: #f5f5f5;
  --close-bg-color: #8B909A;
  --giphy-width: 850px;
}