.loader {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;

  .box {
    width: 15px;
    height: 15px;
    background-color: red;
    animation: bounce 0.6s infinite alternate;

    &:nth-child(2) {
      animation-delay: 100ms;
      background-color: blue;
    }

    &:nth-child(2) {
      animation-delay: 200ms;
      background-color: green;
    }

    &:nth-child(3) {
      animation-delay: 300ms;
      background-color: rgb(209, 37, 172);
    }

    &:nth-child(4) {
      animation-delay: 400ms;
      background-color: yellow;
    }

    &:nth-child(5) {
      animation-delay: 500ms;
      background-color: rgb(111, 12, 224);
    }

    @keyframes bounce {
      100% {
        translate: 0 -25px;
      }
    }

  }
}