@import '../../styles/mixins/responsive';

.container {
  height: 100vh;
  margin: 1rem 0.5rem;
  background-color: var(--primary-bg-color);
  width: var(--searchbar-width);

  .form {
    position: sticky;
    top: 0;
    background-color: var(--primary-bg-color);
    z-index: 10;
    overflow: hidden;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;

      .title {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      h1 {
        font-size: 40px;
        letter-spacing: 0.2rem;
        color: var(--text-color-dark);

        @include sm-screen {
          font-size: 28px;
        }

        @include xs-screen {
          font-size: 22px;
        }

        span {
          margin-left: 3rem;
          margin-top: 10px;
        }
      }
    }
  }

  .gifListContainer {
    width: 99%;
    margin: 20px auto;
    height: 100vh;
    // overflow-y: auto;
    columns: 4;
    column-gap: 10px;
    margin-left: 4px;

    @include lg-screen {
      columns: 3;
    }

    @include md-screen {
      columns: 3;
    }

    @include sm-screen {
      columns: 2;
    }

    .images {
      width: 100%;
      margin-bottom: 10px;
      break-inside: avoid;



      .img {
        position: relative;

        img {
          width: 100%;
          border-radius: 6px;
          cursor: pointer;
        }

        .icons {
          display: flex;
          gap: 4px;
          position: absolute;
          right: 10px;
          top: 6px;
          cursor: pointer;
          background: linear-gradient(rgba(0, 0, 0, 0), rgba(18, 18, 18, 0.1));
          padding: 2px 4px;
          border-radius: 4px;
          opacity: 0;

          &:hover {
            opacity: 1;
          }

          span {
            >svg {
              // Assuming you're using SVG icons
              transition: transform 0.2s; // Smooth transition
            }

            // Individual hover effect for icons
            >svg:hover {
              transform: scale(1.1); // Scale on hover
            }
          }
        }
      }
    }
  }

  .observerTarget {
    height: 10px;
  }
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;

  .pageLink {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 400;

    &.active {
      background-color: blue;
      color: white;
    }

    &:hover {
      background-color: blue;
      color: white;
    }


  }

  .active {
    background-color: blue;
    color: white;
  }
}