@import '../../styles/mixins/responsive';

.container {
  height: 100%;
  margin: 2rem 0.5rem;
  background-color: var(--primary-bg-color);

  .form {
    position: sticky;
    top: 0;
    background-color: var(--primary-bg-color);
    z-index: 10;
    overflow: hidden;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      h1 {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 0.2rem;
        color: var(--text-color-dark);

        @include small-screen {
          font-size: 28px;
        }

        span {
          margin-left: 3rem;
          margin-top: 10px;
        }
      }
    }
  }

  section {
    &:nth-child(2) {
      width: 99%;
      margin: 20px auto;
      columns: 4;
      column-gap: 10px;
      margin-left: 4px;

      @include large-screen {
        columns: 3;
      }

      @include medium-screen {
        columns: 3;
      }

      @include small-screen {
        columns: 2;
      }

      .images {
        width: 100%;
        margin-bottom: 10px;
        break-inside: avoid;

        img {
          width: 100%;
          border-radius: 6px;
        }
      }
    }
  }
}